* {
  font-family: "Montserrat", sans-serif;
}

:root {
  --orange-light: rgb(255, 241, 204);
  --orange-dark: rgb(237, 129, 14);
  --orange-hover: #f45800;
  --gray-input: rgb(90, 90, 90);
}

/* *********** Navbar  *********** */
html {
  background-color: transparent;
}

/* Brand logo */
.nav-brand {
  width: 180px;
}

/* Navbar/Hamburger button content */
.navbar-content {
  font-weight: 500;
}

/* Search */
.search-input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(90, 90, 90);
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 8px;
  margin-right: 15px;
}

.none-focus:focus {
  border-color: rgb(156, 156, 156);
  box-shadow: none !important;
  outline: none;
}

.search-input::placeholder {
  color: #c0c3c7;
}

/* Random button card  */
.btn-outline-secondary {
  background-color: var(--orange-dark);
  color: white;
  border-color: var(--orange-dark);
  border-radius: 8px;
}

.btn-outline-secondary:hover {
  background-color: var(--orange-hover);
  border-color: var(--orange-hover);
}

/* Navbar shadow */
.shadow {
  box-shadow: 0 0.18rem 0.2rem rgba(0, 0, 0, 0.25) !important;
}

/* Random recipe */
.random-recipes {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1% 2%;
  padding: 1% 3%;
}

.mealName {
  font-size: 400%;
  margin-bottom: 4%;
  /* border: 2px solid rgb(0, 255, 255); */
}

.inst-meal {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 2%;
}

.instructions {
  display: flex;
  flex-direction: column;
  padding-left: 2%;
  /* border: 2px solid rgb(134, 3, 134); */
}

.inst {
  font-size: 30px;
  font-weight: 700;
}

.mealInst {
  font-size: 20px;
  padding-right: 5%;
  margin-right: 3%;
  /* border: 2px solid rgb(224, 57, 79); */
}

/* Ingredients */
.ingredients {
  padding: 3% 5%;
  background: var(--orange-light);
}

.ing-title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

/* Random recipe card */
.random-recipe {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
}

.random-recipe-card {
  width: 10%;
  border-radius: 10px;
}

.card-body {
  padding: 1rem 2rem;
  margin: 1rem 1rem;
}

.l-s {
  letter-spacing: 4px;
}

/* Footer */
.footer {
  text-align: center;
  color: var(--orange-light);
  background-color: var(--orange-dark);
  padding-top: 2%;
  padding-bottom: 2%;
}

.footer>h1 {
  font-weight: 700;
}

.footer span {
  color: var(--orange-light);
}
